<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.takeapeek"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly">

    <logback>
        <configuration>
            <appender
                class="ch.qos.logback.core.rolling.RollingFileAppender"
                xml:name="RootFileAppender">
                <file>
                    /sdcard/TakeAPeek/logs/takeapeek.log
                </file>

                <append>
                    true
                </append>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>
                        /sdcard/takeapeek/takeapeek.%i.log
                    </fileNamePattern>

                    <minIndex>
                        1
                    </minIndex>

                    <maxIndex>
                        10
                    </maxIndex>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>
                        10MB
                    </maxFileSize>
                </triggeringPolicy>

                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.log4j.XMLLayout">
                        <locationInfo>
                            true
                        </locationInfo>

                        <properties>
                            true
                        </properties>
                    </layout>
                </encoder>
            </appender>

            <root>
                <level xml:value="debug"/>

                <appender-ref xml:ref="RootFileAppender"/>
            </root>
        </configuration>
    </logback>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".common.TAPApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/create_account_activity_title"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".capture.CaptureClipActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_capture_clip"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>

        <!-- The authenticator service -->
        <service
            android:name=".authenticator.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <!-- End The authenticator service -->

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
            <!--
                <meta-data
                    android:name="android.provider.CONTACTS_STRUCTURE"
                    android:resource="@xml/contacts"/>
            -->
        </service>

        <!-- [START instanceId_listener] -->
        <service
            android:name=".common.TAPInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->


        <!-- FCM message service -->
        <service android:name=".common.TAPFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- END FCM message service -->

        <provider
            android:name=".syncadapter.SyncContentProvider"
            android:authorities="com.takeapeek.provider"
            android:exported="true"
            android:syncable="true">
        </provider>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".usermap.UserMapActivity"
            android:label="@string/title_activity_user_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>
        <activity
            android:name=".userfeed.UserFeedActivity"
            android:label="@string/title_activity_user_feed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>
        <activity
            android:name=".notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>
        <activity
            android:name=".notifications.NotificationPopupActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".trendingplaces.TrendingPlacesActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>