<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.takeapeek"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly">

    <logback>
        <configuration>
            <appender
                class="ch.qos.logback.core.rolling.RollingFileAppender"
                xml:name="RootFileAppender">
                <file>
                    /sdcard/TakeAPeek/logs/takeapeek.log
                </file>

                <append>
                    true
                </append>

                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>
                        /sdcard/takeapeek/takeapeek.%i.log
                    </fileNamePattern>

                    <minIndex>
                        1
                    </minIndex>

                    <maxIndex>
                        10
                    </maxIndex>
                </rollingPolicy>

                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>
                        10MB
                    </maxFileSize>
                </triggeringPolicy>

                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.classic.log4j.XMLLayout">
                        <locationInfo>
                            true
                        </locationInfo>

                        <properties>
                            true
                        </properties>
                    </layout>
                </encoder>
            </appender>

            <root>
                <level xml:value="debug"/>

                <appender-ref xml:ref="RootFileAppender"/>
            </root>
        </configuration>
    </logback>

    <!-- GCM permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- End GCM permissions -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.takeapeek.common.TAPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.takeapeek.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.takeapeek.authenticator.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/create_account_activity_title"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>
        <activity
            android:name="com.takeapeek.capture.CaptureClipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_capture_clip"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takeapeek.MainActivity"/>
        </activity>

        <!-- The authenticator service -->
        <service
            android:name="com.takeapeek.authenticator.AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <!-- End The authenticator service -->

        <service
            android:name="com.takeapeek.syncadapter.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
                <meta-data
                    android:name="android.content.SyncAdapter"
                    android:resource="@xml/syncadapter"/>
            <!--
                <meta-data
                    android:name="android.provider.CONTACTS_STRUCTURE"
                    android:resource="@xml/contacts"/>
             -->
        </service>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>

                <category android:name="com.takeapeek"/>
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name="com.takeapeek.TAPGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.takeapeek.TAPInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.takeapeek.RegistrationIntentService"
            android:exported="false">
        </service>
        <provider
            android:name="com.takeapeek.syncadapter.SyncContentProvider"
            android:authorities="com.takeapeek.provider"
            android:exported="true"
            android:syncable="true" >
        </provider>
    </application>

</manifest>
